<form class="layui-form layui-row layui-col-space10 layui-bg-white" lay-filter="detailFeedback" id="detailFeedback" style="display: none;">
    <div class="layui-col-md10 layui-col-xs12">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12 layui-col-xs7">
                <div class="layui-form-item magt3">
                    <label class="layui-form-label lovexian-form-item-require">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input publisher" name="publisher" placeholder="用户姓名">
                    </div>
                </div>
                <div class="layui-form-item magt3">
                    <label class="layui-form-label lovexian-form-item-require">内容</label>
                    <div class="layui-input-block ">
                        <input type="text" class="layui-input content" name="content" placeholder="内容">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

