<!--#include virtual="/365cssfile.html" -->
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <input type="text" style="display: none;" name="newsId" value="{{d.params.newsId}}">
    <input type="text" style="display: none;" name="checkId" value="{{d.params.checkId}}">
</script>

<form class="layui-form layui-row layui-col-space10 layui-bg-white" lay-filter="newsCheckDetail">
    <div class="layui-col-md9 layui-col-xs12 layui-editor-365">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md9 layui-col-xs7">
                <div class="layui-form-item magt3">
                    <label class="layui-form-label lovexian-form-item-require">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input newsTitle" name="newsTitle" lay-verify="newsTitle" placeholder="请输入文章标题" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容摘要</label>
                    <div class="layui-input-block">
                        <textarea name="newsAbstract" placeholder="请输入内容摘要" class="layui-textarea abstract" readonly="readonly" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs5">
                <div class="layui-upload-list thumbBox mag0 magt4">
                    <img class="layui-upload-img thumbImg">
                </div>
            </div>
        </div>
        <div class="layui-form-item magb0">
            <label class="layui-form-label">新闻内容</label>
            <div class="layui-input-block">
                <script id="newsContent" name="content" style="width:500px;margin: 0 auto;" type="text/plain"/>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-xs12">
        <blockquote class="layui-elem-quote title"><i class="layui-icon">&#xe679;</i> 审核</blockquote>
        <div class="border">
            <div class="layui-form-item checkState">
                <label class="layui-form-label"><i class="seraph icon-look"></i> 操作</label>
                <div class="layui-input-block">
                    <input type="radio" name="checkState" title="审核通过" lay-skin="primary" lay-filter="checkState" value="1" checked />
                    <input type="radio" name="checkState" title="审核拒绝" lay-skin="primary" lay-filter="checkState" value="2"/>
                </div>
            </div>
            <div class="layui-form-item layui-hide releaseDate">
                <label class="layui-form-label lovexian-form-item-require"></label>
                <div class="layui-input-block ">
                    <input type="text" class="layui-input" id="refuseReason" placeholder="请填写拒绝原因" />
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label"></label>
                <div class="layui-left">
                    <a class="layui-btn layui-btn-sm" lay-filter="checkNews" lay-submit><i class="layui-icon">&#xe609;</i>提交</a>
                    <a  id='cancelBtn' class="layui-btn layui-btn-sm layui-btn-danger" lay-filter="cancelBtn" lay-submit> <i class="layui-icon">&#xe850;</i> 取 消 </a>
                </div>
            </div>
        </div>
    </div>
</form>
<!--#include virtual="/365jsfile.html" -->
<script>
    var newsContent;
    layui.data.sendParams = function(params){
        /// 初始化编辑器
        newsContent = UE.getEditor('newsContent', {
            initialFrameHeight: 580, // 初始化编辑器高度
            styleIcon: "http://img.cndesign.com/upload/news/20180918/9473750d3f3743009c227b857df426db.jpg", // 素材区头部的logo图标地址链接，不填或为空则不展示logo
            styleTitle: "爱上西安", // 素材区头部的title标题，不填或为空则不展示title
            styleShow: false, // 是否默认展示素材区，true为默认展示，false为默认不展示
            readonly: true,//只读
            appkey: 'fYNoZiw9ZV' // 付费获取的Appkey
        });
        // 注：ue.setContent()方法需放在编辑器准备就绪后去执行
        newsContent.ready(function() {

            newsContent.setContent(params.content)
        });
    };
</script>