<!--#include virtual="./orgInfoView.html" -->
<!--#include virtual="./orgInfoAdd.html" -->
<div class="layui-fluid layui-anim lovexian-anim" id="lovexian-activity" lay-title="爱活动">
    <div class="layui-row lovexian-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body lovexian-table-full">
                    <div class="layui-row">

                        <form class="layui-form layui-table-form" lay-filter="org-table-form" id="org-table-form">
                            <div class="layui-row">
                                <div class="layui-col-md10">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label layui-form-label-sm">题目</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="actTitle" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="createTime" id="createTime" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label layui-form-label-sm">状态</label>
                                            <div class="layui-input-inline">
                                                <select name="status">
                                                    <option value=""></option>
                                                    <option value="0">未删除</option>
                                                    <option value="1">已删除</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label layui-form-label-sm">审核状态</label>
                                            <div class="layui-input-inline">
                                                <select name="check">
                                                    <option value=""></option>
                                                    <option value="0">未审核</option>
                                                    <option value="1">已通过</option>
                                                    <option value="2">已拒绝</option>
                                                    <option value="100">草稿</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-org-area">
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-org" name="query" title="搜索">
                                        <i class="layui-icon">&#xe615;</i>
                                    </div>
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-org" name="reset" title="重置">
                                        <i class="layui-icon">&#xe669;</i>
                                    </div>
                                    <span id="orgMoreContainer">

                                    </span>

                                </div>
                            </div>
                        </form>


                        <div class="layui-tab layui-tab-brief" lay-filter="orgTab">
                            <ul class="layui-tab-title">
                                <li class="layui-this" lay-id="1">培训机构</li>
                                <li lay-id="2">医疗机构</li>

                            </ul>
                            <input hidden="hidden" id="actTypeId" value="">

                            <div class="layui-tab-content">
                                <div class="layui-fluid layui-tab-item">
                                    <div class="layui-row">
                                        <!--<form class="layui-form layui-table-form" lay-filter="org-table-form">-->
                                        <!--<div class="layui-row">-->
                                        <!--<div class="layui-col-md10">-->
                                        <!--<div class="layui-form-item">-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">题目</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="actTitle" autocomplete="off" id="title" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">创建时间</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="createTime" id="createTime" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="status">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未删除</option>-->
                                        <!--<option value="1">已删除</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">审核状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="check">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未审核</option>-->
                                        <!--<option value="1">已通过</option>-->
                                        <!--<option value="2">已拒绝</option>-->
                                        <!--<option value="100">草稿</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-org-area">-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" name="query" title="搜索">-->
                                        <!--<i class="layui-icon">&#xe615;</i>-->
                                        <!--</div>-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" id="reset" title="重置">-->
                                        <!--<i class="layui-icon">&#xe669;</i>-->
                                        <!--</div>-->
                                        <!--<span id="orgMoreContainer">-->

                                        <!--</span>-->

                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</form>-->
                                        <table lay-filter="orgInfoTable" id="orgInfoTable1" lay-data="{id: 'orgInfoTable1'}">

                                        </table>
                                    </div>
                                </div>
                                <!--交流活动开始-->
                                <div class="layui-fluid layui-tab-item">
                                    <div class="layui-row">
                                        <!--<form class="layui-form layui-table-form" lay-filter="org-table-form">-->
                                        <!--<div class="layui-row">-->
                                        <!--<div class="layui-col-md10">-->
                                        <!--<div class="layui-form-item">-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">题目</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="actTitle" autocomplete="off" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">创建时间</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="createTime" id="createTimeOper" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="status">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未删除</option>-->
                                        <!--<option value="1">已删除</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">审核状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="check">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未审核</option>-->
                                        <!--<option value="1">已审核</option>-->
                                        <!--<option value="2">已拒绝</option>-->
                                        <!--<option value="100">草稿</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-org-area">-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" name="query" title="搜索">-->
                                        <!--<i class="layui-icon">&#xe615;</i>-->
                                        <!--</div>-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" id="resetOper" title="重置">-->
                                        <!--<i class="layui-icon">&#xe669;</i>-->
                                        <!--</div>-->
                                        <!--<span id="orgMoreOperContainer">-->

                                        <!--</span>-->

                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</form>-->
                                        <table lay-filter="orgInfoTable" id="orgInfoTable2" lay-data="{id: 'orgInfoTable2'}">

                                        </table>
                                    </div>
                                </div><!--交流活动结束-->

                                <!--项目资讯开始-->
                                <div class="layui-fluid layui-tab-item">
                                    <div class="layui-row">
                                        <!--<form class="layui-form layui-table-form" lay-filter="org-table-form">-->
                                        <!--<div class="layui-row">-->
                                        <!--<div class="layui-col-md10">-->
                                        <!--<div class="layui-form-item">-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">题目</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="actTitle" autocomplete="off" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">创建时间</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="createTime" id="createTimePro" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="status">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未删除</option>-->
                                        <!--<option value="1">已删除</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">审核状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="check">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未审核</option>-->
                                        <!--<option value="1">已通过</option>-->
                                        <!--<option value="2">已拒绝</option>-->
                                        <!--<option value="100">草稿</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-org-area">-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" name="query" title="搜索">-->
                                        <!--<i class="layui-icon">&#xe615;</i>-->
                                        <!--</div>-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" id="resetPro" title="重置">-->
                                        <!--<i class="layui-icon">&#xe669;</i>-->
                                        <!--</div>-->
                                        <!--<span id="orgMoreProContainer">-->

                                        <!--</span>-->

                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</form>-->
                                        <table lay-filter="orgInfoTable" id="orgInfoTable3" lay-data="{id: 'orgInfoTable3'}">

                                        </table>
                                    </div>
                                </div><!--项目资讯结束-->

                                <!--活动通知开始-->
                                <div class="layui-fluid layui-tab-item">
                                    <div class="layui-row">
                                        <!--<form class="layui-form layui-table-form" lay-filter="org-table-form">-->
                                        <!--<div class="layui-row">-->
                                        <!--<div class="layui-col-md10">-->
                                        <!--<div class="layui-form-item">-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">题目</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="actTitle" autocomplete="off" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">创建时间</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<input type="text" name="createTime" id="createTimeNotice" class="layui-input">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="status">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未删除</option>-->
                                        <!--<option value="1">已删除</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="layui-inline">-->
                                        <!--<label class="layui-form-label layui-form-label-sm">审核状态</label>-->
                                        <!--<div class="layui-input-inline">-->
                                        <!--<select name="check">-->
                                        <!--<option value=""></option>-->
                                        <!--<option value="0">未审核</option>-->
                                        <!--<option value="1">已通过</option>-->
                                        <!--<option value="2">已拒绝</option>-->
                                        <!--<option value="100">草稿</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-org-area">-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" name="query" title="搜索">-->
                                        <!--<i class="layui-icon">&#xe615;</i>-->
                                        <!--</div>-->
                                        <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-org" id="resetNotice" title="重置">-->
                                        <!--<i class="layui-icon">&#xe669;</i>-->
                                        <!--</div>-->
                                        <!--<span id="orgMoreNoticeContainer">-->

                                        <!--</span>-->

                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</form>-->
                                        <table lay-filter="orgInfoTable" id="orgInfoTable4" lay-data="{id: 'orgInfoTable4'}">

                                        </table>
                                    </div>
                                </div><!--活动通知结束-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="preview-layer">
    <div class="preview-bg"></div>
    <div class="preview-phone" id="previewPhone">
        <iframe id="preview-html" name="preview-html" src="#/preview/preview-h5"></iframe>
    </div>
</div>

<script type="text/html" id="check-state">
    {{#
    var status = {
    100: {title: '草稿状态', color: 'lime'},
    0: {title: '未审核', color: 'blue'},
    1: {title: '审核通过', color: 'green'},
    2: {title: '审核拒绝', color: 'volcano'}
    }[d.checkState];

    }}
    <span class="layui-badge lovexian-tag-{{ status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="show-flag">
    {{# if(d.isShow == 1){ }}
    <input type="checkbox" name="delState" lay-skin="switch" lay-text="展示|不展示" lay-filter="switchShow" value="{{d.id}}" checked>
    {{# }else{ }}
    <input type="checkbox" name="delState" lay-skin="switch" lay-text="展示|不展示" lay-filter="switchShow" value="{{d.id}}">
    {{# } }}
</script>

<script type="text/html" id="top-flag">
    {{# if(d.isTop == 1){ }}
    <input type="checkbox" name="isTop" lay-skin="switch" lay-text="置顶|不置顶" lay-filter="switchTop" value="{{d.id}}" checked>
    {{# }else{ }}
    <input type="checkbox" name="isTop" lay-skin="switch" lay-text="置顶|不置顶" lay-filter="switchTop" value="{{d.id}}">
    {{# } }}
</script>

<script type="text/html" id="orgMoreTpl">
    {{# if(hasAnyPermission(['orgInfo:add','orgInfo:delete'])) { }}
    <div class="layui-btn layui-btn-sm layui-btn-primary table-org org-more">
        <i class="layui-icon">&#xe875;</i>
    </div>
    {{# } }}
</script>


<script type="text/html" id="org-option">

    {{# if(hasPermission(['orgInfo:list'])) { }}
    <a lay-event="detail" title="查看详情"><i class="layui-icon lovexian-edit-area lovexian-green">&#xe7a5;</i></a>
    {{# } }}
    {{# if(hasPermission(['orgInfo:update'])&&d.delState==0) { }}
    {{# if(d.checkState==0){ }}
    <a lay-event="edit" title=" 编辑"><i class="layui-icon lovexian-edit-area lovexian-blue" style="color: #9f9f9f">&#xe642;</i></a>
    {{# }else{ }}
    <a lay-event="edit" title=" 编辑"><i class="layui-icon lovexian-edit-area lovexian-blue">&#xe642;</i></a>
    {{# } }}
    {{# } }}
    {{# if(hasPermission(['orgInfo:delete'])&&d.delState==0) { }}
    <a lay-event="del" title="删除"><i class="layui-icon lovexian-edit-area lovexian-red">&#xe640;</i></a>
    {{# } }}
    {{# if(d.delState==1) { }}
    <a lay-event="edit2" title="还原"><i class="layui-icon lovexian-edit-area lovexian-blue">&#xe642;</i></a>
    {{# } }}
    {{# if(d.delState==1) { }}
    <a lay-event="del2" title="彻底删除"><i class="layui-icon lovexian-edit-area lovexian-red">&#xe640;</i></a>
    {{# } }}
    {{# if(lacksPermission(['orgInfo:list','orgInfo:update','orgInfo:delete'])) { }}
    <span>
            <span class="layui-badge-dot lovexian-bg-orange"></span> 无权限
        </span>
    {{# } }}

</script>

<script>
    layui.use('theme/life/organization/orgInfo', layui.factory('theme/life/organization/orgInfo'));
</script>
