<form class="layui-form layui-row layui-col-space10 layui-bg-white"style="display: none" lay-filter="orgInfoAdd" id="orgInfoAdd" >
    <input type="text" class="hidden" lay-verify="id" name="id" style="display: none;">
    <div class="layui-col-md9 layui-col-xs12">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md9 layui-col-xs7">
                <div class="layui-form-item magt3">
                    <label class="layui-form-label lovexian-form-item-require">机构名</label>
                    <div class="layui-input-block">
                       <!-- <input type="text" class="layui-input orgName"  name="orgName" lay-verify="orgName" placeholder="请输入机构名">-->
                        <input type="text" class="layui-input orgName" id="orgNames" name="orgName" lay-verify="notnull" placeholder="请输入机构名">
                    </div>
                </div>
                <div class="layui-form-item magt3">
                    <label class="layui-form-label">机构地址</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input orgAddress" lay-verify="notnull"  name="orgAddress" placeholder="请输入机构地址">
                       <!-- <input type="text" class="layui-input orgAddress" lay-verify="orgAddress"  name="orgAddress" placeholder="请输入机构地址">-->
                    </div>
                </div>
                <div class="layui-form-item magt3">
                    <label class="layui-form-label">机构路线</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入机构路线" class="layui-textarea orgRoute" name="orgRoute" lay-verify="notnull"></textarea>
                       <!-- <textarea placeholder="请输入机构路线" class="layui-textarea orgRoute" name="orgRoute" lay-verify="orgRoute"></textarea>-->
                    </div>
                </div>
                <div class="layui-form-item magt3">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input orgPhone" lay-verify="notnull" name="orgPhone" placeholder="请输入机构地址">
                        <!--<input type="text" class="layui-input orgPhone" lay-verify="orgPhone" name="orgPhone" placeholder="请输入机构地址">-->
                    </div>
                </div>
                <div class="layui-form-item magt3">
                    <label class="layui-form-label">位置名称</label>
                    <div class="layui-input-block">
                        <!--<input type="text" class="layui-input locationName" lay-verify="locationName" name="locationName" placeholder="请输入机构地址">-->
                        <input type="text" class="layui-input locationName" lay-verify="notnull" name="locationName" placeholder="请输入机构地址">
                    </div>
                </div>
                <div class="layui-form-item magt3">
                    <label class="layui-form-label">机构介绍</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入机构介绍" class="layui-textarea orgIntroduce" name="orgIntroduce"  lay-verify="notnull"></textarea>
                        <!--<textarea placeholder="请输入机构介绍" class="layui-textarea orgIntroduce" name="orgIntroduce"  lay-verify="orgIntroduce">--></textarea>

                    </div>
                </div>
            </div>

            <div class="layui-col-md3 layui-col-xs5">
                <div class="layui-upload-list thumbBox mag0 magt4">
                    <img class="layui-upload-img thumbImg" name="headImage" id="headImage">
                </div>
                <label class="layui-form-label">机构经度</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input longitude" lay-verify="longitude" name="longitude" placeholder="请输入机构经度"  readonly="readonly">
                </div>
                <label class="layui-form-label">机构纬度</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input latitude" lay-verify="latitude" name="latitude"  placeholder="请输入机构纬度"  readonly="readonly">
                </div>
                <button type="button" class="layui-btn" onclick="gaodeMap()" >高德查询</button>
            </div>

        </div>

    </div>
    <div class="layui-col-md3 layui-col-xs12">
        <blockquote class="layui-elem-quote title magt10"><i class="layui-icon">&#xe609;</i> 发布</blockquote>
        <div class="border">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe60e;</i> 状　态</label>
                <div class="layui-input-block orgStatus">
                    <select name="checkState" lay-verify="required" onchange="changeInfoStatus()">
                        <option value="100">保存草稿</option>
                        <option value="0">等待审核</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"style="display: none"><i class="layui-icon">&#xe60e;</i> 语种</label>
                <div class="layui-input-block languageStatus" style="display: none">
                    <select name="language"  lay-verify="required" onchange="changeInfoStatus()">
                        <option value="2">中文</option>
                        <option value="1" selected>英文</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item openness">
                <label class="layui-form-label"><i class="seraph icon-look"></i> 公开度</label>
                <div class="layui-input-block" id="isShowId">
                    <input type="radio" name="openness" title="开放浏览" lay-skin="primary" value="1" checked/>
                    <input type="radio" name="openness" title="私密浏览" lay-skin="primary" value="0"/>
                </div>
            </div>
            <div class="layui-form-item newsTop">
                <label class="layui-form-label"><i class="seraph icon-zhiding"></i> 置　顶</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="isTop" lay-skin="switch" lay-text="是|否">
                </div>
            </div>
            <hr class="layui-bg-gray" />
            <div class="layui-right">
                <a  id="saveBtn" class="layui-btn layui-btn-sm" lay-filter="addNews" lay-submit><i class="layui-icon">&#xe655;</i>保存</a>
                <a id='cancelBtn' class="layui-btn layui-btn-sm layui-btn-danger" > <i
                        class="layui-icon">&#xe850;</i> 取 消 </a>
            </div>
        </div>
    </div>
</form>
